body{
    background-image: url('./images/bg-intro-desktop.png');
    background-color : #ff7978;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
 h6{
    line-height: 1.6;
 }


.btn{
    background-color: #37cc8a;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 14px;
}

.btn:active{
    background-color: #37cc8a;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 14px;
}

.btn:hover, .btn:focus{
    background-color: #2cb67d;
}

.terms{
    font-size: 12px;

}

.terms a{
    color: red;
    text-decoration: none;
    font-weight: 600;
}

.offer{
    background-color: #5d54a3;
    -webkit-box-shadow: 0 7px rgb(119,119,119,0.4);
	   -moz-box-shadow: 0 7px rgb(119,119,119,0.4);;
	        box-shadow: 0 7px rgb(119,119,119,0.4);
}

.form{
    -webkit-box-shadow: 0 7px rgb(119,119,119,0.4);
	   -moz-box-shadow: 0 7px rgb(119,119,119,0.4);
	        box-shadow: 0 7px rgb(119,119,119,0.4);
}


.heading{
    margin-top: 190px;
}

.was-validated .form-control:invalid {
    background-image: url('./images/icon-error.svg');
  }

.form-control:focus {
    border-color:  #5d54a3;
    border-width: 2px;
    box-shadow: none
}

@media screen and (max-width: 992px) {
    .heading{
        margin-top: 100px;
    }
  }

@media screen and (max-width: 375px) {
    body{
        background-image: url('./images/bg-intro-mobile.png');
    }
  }

 